@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Rubik+Mono+One&display=swap");

@font-face {
  font-family: "Folio";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Folio\ Std\ Bold\ Condensed.otf"); /* IE9 Compat Modes */
  src: local("Folio"), local("Folio"),
    /* Super Modern Browsers */
      url("./assets/fonts/FolioStd-BoldCondensed.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/FolioStd-BoldCondensed.ttf")
      format("truetype");
}

*, *::before, *::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: "Folio", sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff !important;
  font-family: Helvetica Neue;

  overflow-x: hidden; /* to remove scrollx bar when site is more than 100vh*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
nav,
a,
li {
  font-family: "Open Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

/* for page css transition */
/* simple - enter transition 300ms, exit 150ms */
.page-transition {
  position: absolute;
  /* top 60px to show DevNav */
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100vw;
  min-height: 100vh;
}

.fade-appear,
.fade-enter {
  z-index: 1;
  opacity: 0;
  /* transform: translate(100vw, 0px); */
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out 200ms;
  /* transform: translate(0px, 0px);  */
  /* transition: transform 500ms linear 200ms; */
}

.fade-exit {
  opacity: 1;
  /* transform: translate(0px, 0px); */
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  /* transform: translate(-100vw, 0px);  */
  /* transition: transform 600ms linear; */
}
/* end css transition */
